.carousel-container {
  display: flex;
  /* width: 93%; */
  width: 100%;
  margin: 1% auto;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.toggle-dots-of-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.carousel-slide {
  border: 6px solid transparent;
  width: 100%;
  height: 100%;

  /* height: 18rem; */
  /* padding: 5px; */
  border-radius: 14px;
}

#overflow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  /* transition: 300ms cubic-bezier(0.77, 0, 0.175, 1); */
}

.images {
  height: 100%;
  width: 100%;
}

.dots {
  height: 12px;
  width: 5px;
  border-radius: 50px;
  background-color: #ccc;

  border: none;
  cursor: pointer;
}

/* @media (max-width: 998px) {
  .carousel-container {
    width: 45%;
  }
}

@media (max-width: 898px) {
  .carousel-container {
    width: 50%;
  }
}

@media (max-width: 698px) {
  .carousel-container {
    width: 55%;
  }
}

@media (max-width: 598px) {
  .carousel-container {
    width: 65%;
  }
}

@media (max-width: 398px) {
  .carousel-container {
    width: 70%;
  }
} */
