/* =============
   global styles
   ============= 
*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0px 2.8rem 0px 2.8rem;
}

h1 {
  text-decoration: none;
  color: rgb(31, 30, 30);
}

.nav-link {
  font-weight: 500;
  white-space: nowrap;
}

.Link {
  position: relative;
  text-decoration: none;
}

.Link-dropdown > span {
  font-weight: 500;
}

.nav-menu {
  display: flex;
  color: rgb(31, 30, 30);
  align-items: center;
}

.nav-text-links-content {
  display: flex;
}

.nav-item {
  list-style: none;
  align-items: center;
  color: rgb(14, 13, 13);
  padding: 2rem;
  padding-bottom: 0rem;
  padding-top: 0rem;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: #3a3a3a;
  width: 50%;
  border-radius: 2px;
  height: 2.5px;
  left: 25%;
  bottom: -10px;
  transform: scale(0, 1);
  transition: 0.3s;
  will-change: transform;
}

.nav-link:hover::after {
  transform: scale(1, 1);
}

.active-link > .nav-link::after {
  transform: scale(1, 1);
}

.searchBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  width: 8rem;
  margin-right: 1.8rem;
}

.search-input {
  width: 0rem;
  padding: 0.5rem;
  padding-right: 2rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  transition: 0.2s;
}

.searchSvg {
  position: absolute;
  right: 0rem;
  transform: translateX(-2.8rem);
  transition: 0.3s;
  display: grid;
  place-items: center;
  transition: 0.2s;
}

.searchBox:hover > .search-input {
  width: 9rem;
  padding: 0.5rem;
  padding-right: 2rem;
  background-color: rgb(240, 245, 248);
  box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.2);
}

.searchBox:hover > .searchSvg {
  transform: translateX(0rem);
}

.shop-bag {
  margin-right: 1.8rem;
  padding: 0rem;
}

.cart-total {
  position: absolute;
  background-color: rgb(240, 240, 240);
  padding: 0px 0.25rem 0px 0.25rem;
  border-radius: 0.5rem;
  right: 15%;
  font-size: 0.75rem;
  font-weight: 500;
}

.shopping-bag {
  display: flex;
  color: #3a3a3a;
}

.side-menu {
  position: relative;
  display: flex;
}

.bar-chart {
  transform: rotate(-90deg);
  display: grid;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  top: calc(100% + 1rem);
  background-color: #fdfdfd;
  right: 30%;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 0.6rem 1px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
  z-index: 2;
}

.dropdown.active {
  pointer-events: auto;
}

.side-menu button {
  background-color: transparent;
  border: none;
}

.side-menu button:hover {
  cursor: pointer;
}

.side-menu-button.active::after {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 100vw;
  border-radius: 2px;
  top: -1.5rem;
  height: 100vh;
  cursor: context-menu;
  right: -2.8rem;
  z-index: 1;
}

.side-menu-button.computer + .dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown .Link-dropdown {
  position: relative;
  color: rgb(59, 59, 59);
  text-decoration: none;
  background-color: #fdfdfd;
  width: 9.5rem;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.Link-dropdown:hover {
  background-color: #ece9e9;
}

@media (max-width: 1024px) {
  :root {
    font-size: 95%;
  }
}

@media (max-width: 998px) {
  .route-link {
    text-align: center;
    padding: 2rem;
  }

  .nav-link::after {
    width: 0%;
  }

  .active-link > li {
    color: #616060;
  }

  .nav-text-links-content {
    position: absolute;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 40%;
    height: 100%;
    top: 0rem;
    padding-top: 5rem;
    align-items: center;
    opacity: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: 300ms ease;
    will-change: transform;
    z-index: 2;
    border-radius: 4px 0px 0px 4px;
  }

  .nav-text-links-content.mobiles {
    background: #f8f8f8;
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: 300ms ease;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .searchSvg {
    transform: translateX(0rem);
  }

  .search-input {
    width: 9rem;
    background-color: rgb(240, 245, 248);
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.2);
  }

  .side-menu-button {
    border: none;
    background-color: transparent;
  }

  .side-menu-button:hover {
    cursor: pointer;
  }

  .dropdown {
    display: none;
  }
}

@media (max-width: 600px) {
  nav {
    padding: 0px 1rem 0px 1rem;
  }
  .side-menu-button::after {
    right: -1rem;
  }
}
