*,
*::after,
*::before {
  box-sizing: border-box;
  /* Hides the blue background when clicked on a link */
  -webkit-tap-highlight-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto / 1em 1fr 1em;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgb(233, 232, 232);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(196, 196, 196);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(185, 184, 184);
}

:root {
  overflow-x: hidden;
  height: 100%;
}
